body {
    display: flex;
    justify-content: center;
}

#articlesection {
    background-color: red;
    overflow: scroll;
    height: 60%;
    width: 40%;
}

.hide {
    display: none;
}
.newscomponent {
    border: solid black 2px;
}